*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 8px;
}

.imgwrapper > img {
  width: 100%;
}

body.home {
  background-color: #B8B8B8;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

::-webkit-scrollbar-thumb:hover {
  background: #747474;
}

.rowWrapper {
  width: 100%;
  overflow-x: hidden;
}

.row {
  padding: 0 6rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
}

@media only screen and (max-width: 1200px) {
  .row {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    gap: 3rem;
    padding: 0 6rem;
  }
}

@media only screen and (max-width: 900px) {
  .row {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    gap: 3rem;
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.fullScr {
  padding: 0;
}

.boxed {
  max-width: 1440px;
  margin: 0 auto;
}

.extended {
  padding: 0 23rem 0 6rem;
}

@media only screen and (max-width: 900px) {
  .extended {
    padding: 0 12.5rem 0 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .extended {
    padding: 0 3rem 0 3rem;
  }
}

.col12 {
  grid-column: span 12;
}

.col11 {
  grid-column: span 11;
}

.col10 {
  grid-column: span 10;
}

.col9 {
  grid-column: span 9;
}

.col8 {
  grid-column: span 8;
}

.col7 {
  grid-column: span 7;
}

.col6 {
  grid-column: span 6;
}

.col5 {
  grid-column: span 5;
}

.col5 {
  grid-column: span 4;
}

.col5 {
  grid-column: span 3;
}

.col2 {
  grid-column: span 2;
}

.col1 {
  grid-column: span 1;
}

@media only screen and (max-width: 900px) {
  .col11, .col10, .col9, .col8, .col7 {
    grid-column: span 8;
  }
}

@media only screen and (max-width: 600px) {
  .col11, .col10, .col9, .col8, .col7 {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 900px) {
  .col6, .col5 {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 600px) {
  .col6, .col5 {
    grid-column: span 4;
  }
}

.rowWrapper {
  width: 100%;
  overflow-x: hidden;
}

.row {
  padding: 0 6rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
}

@media only screen and (max-width: 1200px) {
  .row {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    gap: 3rem;
    padding: 0 6rem;
  }
}

@media only screen and (max-width: 900px) {
  .row {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    gap: 3rem;
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.fullScr {
  padding: 0;
}

.boxed {
  max-width: 1440px;
  margin: 0 auto;
}

.extended {
  padding: 0 23rem 0 6rem;
}

@media only screen and (max-width: 900px) {
  .extended {
    padding: 0 12.5rem 0 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .extended {
    padding: 0 3rem 0 3rem;
  }
}

.col12 {
  grid-column: span 12;
}

.col11 {
  grid-column: span 11;
}

.col10 {
  grid-column: span 10;
}

.col9 {
  grid-column: span 9;
}

.col8 {
  grid-column: span 8;
}

.col7 {
  grid-column: span 7;
}

.col6 {
  grid-column: span 6;
}

.col5 {
  grid-column: span 5;
}

.col5 {
  grid-column: span 4;
}

.col5 {
  grid-column: span 3;
}

.col2 {
  grid-column: span 2;
}

.col1 {
  grid-column: span 1;
}

@media only screen and (max-width: 900px) {
  .col11, .col10, .col9, .col8, .col7 {
    grid-column: span 8;
  }
}

@media only screen and (max-width: 600px) {
  .col11, .col10, .col9, .col8, .col7 {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 900px) {
  .col6, .col5 {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 600px) {
  .col6, .col5 {
    grid-column: span 4;
  }
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("../asset/general/fonts/labGrotesque/LabGrotesque-Light.eot");
  src: local("Lab Grotesque Light"), local("../asset/general/fonts/labGrotesque/LabGrotesque-Light"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Light.eot?#iefix") format("embedded-opentype"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Light.woff2") format("woff2"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Light.woff") format("woff"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("../asset/general/fonts/labGrotesque/LabGrotesque-LightItalic.eot");
  src: local("Lab Grotesque Light Italic"), local("../asset/general/fonts/labGrotesque/LabGrotesque-LightItalic"), url("../asset/general/fonts/labGrotesque/LabGrotesque-LightItalic.eot?#iefix") format("embedded-opentype"), url("../asset/general/fonts/labGrotesque/LabGrotesque-LightItalic.woff2") format("woff2"), url("../asset/general/fonts/labGrotesque/LabGrotesque-LightItalic.woff") format("woff"), url("../asset/general/fonts/labGrotesque/LabGrotesque-LightItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("../asset/general/fonts/labGrotesque/LabGrotesque-Medium.eot");
  src: local("Lab Grotesque Medium"), local("../asset/general/fonts/labGrotesque/LabGrotesque-Medium"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Medium.woff2") format("woff2"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Medium.woff") format("woff"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Medium.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("../asset/general/fonts/labGrotesque/LabGrotesque-MediumItalic.eot");
  src: local("Lab Grotesque Medium Italic"), local("../asset/general/fonts/labGrotesque/LabGrotesque-MediumItalic"), url("../asset/general/fonts/labGrotesque/LabGrotesque-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../asset/general/fonts/labGrotesque/LabGrotesque-MediumItalic.woff2") format("woff2"), url("../asset/general/fonts/labGrotesque/LabGrotesque-MediumItalic.woff") format("woff"), url("../asset/general/fonts/labGrotesque/LabGrotesque-MediumItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("../asset/general/fonts/labGrotesque/LabGrotesque-Bold.eot");
  src: local("Lab Grotesque Bold"), local("../asset/general/fonts/labGrotesque/LabGrotesque-Bold"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Bold.woff2") format("woff2"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Bold.woff") format("woff"), url("../asset/general/fonts/labGrotesque/LabGrotesque-Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("../asset/general/fonts/labGrotesque/LabGrotesque-BoldItalic.eot");
  src: local("Lab Grotesque Bold Italic"), local("../asset/general/fonts/labGrotesque/LabGrotesque-BoldItalic"), url("../asset/general/fonts/labGrotesque/LabGrotesque-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../asset/general/fonts/labGrotesque/LabGrotesque-BoldItalic.woff2") format("woff2"), url("../asset/general/fonts/labGrotesque/LabGrotesque-BoldItalic.woff") format("woff"), url("../asset/general/fonts/labGrotesque/LabGrotesque-BoldItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/*VAZIR FONT*/
@font-face {
  font-family: 'Vazir';
  src: url("../asset/general/fonts/vazir/Vazir-Light.eot");
  src: local("Lab Grotesque Light"), local("../asset/general/fonts/vazir/Vazir-Light"), url("../asset/general/fonts/vazir/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("../asset/general/fonts/vazir/Vazir-Light.woff2") format("woff2"), url("../asset/general/fonts/vazir/Vazir-Light.woff") format("woff"), url("../asset/general/fonts/vazir/Vazir-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url("../asset/general/fonts/vazir/Vazir-Medium.eot");
  src: local("Lab Grotesque Medium "), local("../asset/general/fonts/vazir/Vazir-Medium"), url("../asset/general/fonts/vazir/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../asset/general/fonts/vazir/Vazir-Medium.woff2") format("woff2"), url("../asset/general/fonts/vazir/Vazir-Medium.woff") format("woff"), url("../asset/general/fonts/vazir/Vazir-Medium.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url("../asset/general/fonts/vazir/Vazir-Bold.eot");
  src: local("Lab Grotesque Bold "), local("../asset/general/fonts/vazir/Vazir-Bold"), url("../asset/general/fonts/vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("../asset/general/fonts/vazir/Vazir-Bold.woff2") format("woff2"), url("../asset/general/fonts/vazir/Vazir-Bold.woff") format("woff"), url("../asset/general/fonts/vazir/Vazir-Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.aboutWrapper_faPrag p {
  font-family: "Vazir";
  text-align: right;
  direction: rtl;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Lab Grotesque";
}

h1, .h1 {
  font-weight: 100;
  font-size: 12rem;
  color: black;
}

@media only screen and (max-width: 600px) {
  h1, .h1 {
    font-weight: 400;
    font-size: 6.5rem;
    color: black;
  }
}

h2, .h2 {
  font-weight: 100;
  font-size: 7.5rem;
  color: black;
}

@media only screen and (max-width: 600px) {
  h2, .h2 {
    font-weight: 300;
    font-size: 5rem;
    color: black;
  }
}

h3, .h3 {
  font-weight: 200;
  font-size: 5.25rem;
  color: black;
}

@media only screen and (max-width: 600px) {
  h3, .h3 {
    font-weight: 400;
    font-size: 4.5rem;
    color: black;
  }
}

h4, .h4 {
  font-weight: 200;
  font-size: 4rem;
  color: black;
}

@media only screen and (max-width: 600px) {
  h4, .h4 {
    font-weight: 400;
    font-size: 3.5rem;
    color: black;
  }
}

h5, .h5 {
  font-weight: 200;
  font-size: 2.75rem;
  color: black;
}

h6, .h6 {
  font-weight: 100;
  font-size: 2.25rem;
  color: black;
}

.subtitlei {
  font-weight: 200;
  font-size: 2rem;
  color: black;
  font-family: "Lab Grotesque";
}

.subtitleii {
  font-weight: 100;
  font-size: 1.75rem;
  color: black;
  font-family: "Lab Grotesque";
}

.bodyi {
  font-weight: 100;
  font-size: 2rem;
  color: black;
  font-family: "Lab Grotesque";
  line-height: 23px;
}

.bodyii {
  font-weight: 100;
  font-size: 1.75rem;
  color: black;
  font-family: "Lab Grotesque";
}

.button {
  font-weight: 100;
  font-size: 2rem;
  color: black;
  font-family: "Lab Grotesque";
  text-transform: uppercase;
}

.caption {
  font-weight: 100;
  font-size: 1.5rem;
  color: black;
  font-family: "Lab Grotesque";
}

.overline {
  font-weight: 100;
  font-size: 1.25rem;
  color: black;
  font-family: "Lab Grotesque";
  letter-spacing: 1.5px;
}

a {
  font-weight: 100;
  font-size: 2rem;
  color: black;
  font-family: "Lab Grotesque";
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

a:hover {
  color: #3d3d3d;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

/*
.h1--fa{
    @include type(300, 12rem);
    @extend %faType;
}
.h2--fa{
    @include type(300, 7.5rem);
    @extend %faType;
}
.h3--fa{
    @include type(400, 5.25rem);
    @extend %faType;
}
.h4--fa{
    @include type(300, 4rem);
    @extend %faType;
}
.h5--fa{
    @include type(400, 2.75rem);
    @extend %faType;
}
.h6--fa{
    @include type(400, 2rem);
    @extend %faType;
}
.subtitlei--fa{
    @include type(400, 2rem);
    @extend %faType;
}
.subtitleii--fa{
    @include type(300, 1.75rem);
    @extend %faType;
}
.bodyi--fa{
    @include type(300, 2rem);
    @extend %faType;
}
.bodyii--fa{
    @include type(300, 1.75rem);
    @extend %faType;
    line-height: 21px;
}
.button--fa{
    @include type(400, 2rem);
    @extend %faType;
    line-height: 19px;
}
.caption--fa{
    @include type(400, 1.5rem);
    @extend %faType;
    margin-top: .5rem;
}
.overline--fa{
    @include type(300, 1.25rem);
    @extend %faType;
}
*/
.header {
  width: 100%;
  display: inline-block;
  background-color: white;
  position: fixed;
  z-index: 100;
}

.header_wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header_drawer {
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_drawer--open {
  max-height: 100vh;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_drawer--open a {
  opacity: 1;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_drawerItems {
  width: 100%;
  padding: 20rem 6rem 6rem 33rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 107px;
      grid-template-columns: auto 107px;
}

@media only screen and (max-width: 900px) {
  .header_drawerItems {
    padding: 20rem 3rem 3rem 33rem;
  }
}

@media only screen and (max-width: 600px) {
  .header_drawerItems {
    padding: 3rem;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 12rem;
  }
}

.header_menu {
  display: inline-block;
  bottom: 6rem;
  left: 33rem;
}

.header_menu a {
  opacity: 0;
  font-size: 3rem;
  text-transform: capitalize;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  margin-left: -3rem;
  cursor: pointer;
}

.header_menu li:not(:last-child) {
  margin-bottom: 1rem;
}

.header_contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  bottom: 6rem;
  right: 6rem;
}

.header_contact a {
  margin-left: -3rem;
  opacity: 0;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  font-size: 2rem;
}

.header_contact li {
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .header_contact ul, .header_contact .header_mail {
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

.header_contact .header_social {
  text-align: right;
}

.header_contact .header_mail {
  font-weight: 200;
}

.header_drawer--open a {
  margin-left: 0rem;
  opacity: 1;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_socials {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.header_logo {
  height: 106px;
  width: 168px;
  display: inline-block;
  position: absolute;
  left: 6rem;
  top: 6rem;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

@media only screen and (max-width: 900px) {
  .header_logo {
    left: 3rem;
    top: 3rem;
  }
}

.header_logo svg {
  position: absolute;
  height: 28px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_logo--open {
  top: 23.5rem;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_logo_g {
  top: 0;
  left: 0px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_logo_e {
  top: 0;
  left: 43px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_logo_ssa {
  top: 0;
  left: 76px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_logo_g--open {
  bottom: unset;
  left: 0px;
}

.header_logo_e--open {
  top: 39px;
  left: 5px;
}

.header_logo_ssa--open {
  top: 79px;
  left: 4px;
}

.header_hamIco {
  position: fixed;
  width: 4rem;
  height: 3.5rem;
  top: 6rem;
  left: 33rem;
  cursor: pointer;
  -ms-grid-column: 4;
  grid-column: 4;
}

@media only screen and (max-width: 900px) {
  .header_hamIco {
    top: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .header_hamIco {
    right: 3rem;
    top: 3rem;
    left: unset;
  }
}

.header_line {
  height: 2px;
  position: absolute;
  top: 13px;
  width: 4rem;
  background-color: black;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_line::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 4rem;
  top: -12px;
  background-color: black;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_line::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 4rem;
  top: 12px;
  background-color: black;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_line--open::before {
  top: 0;
  background-color: black;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header_line--open::after {
  top: 0;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.footerWrapper {
  padding: 0 6rem;
}

@media only screen and (max-width: 1200px) {
  .footerWrapper {
    padding: 0 6rem;
  }
}

@media only screen and (max-width: 900px) {
  .footerWrapper {
    padding: 0 3rem;
  }
}

.footer_content {
  padding: 6rem 0;
  border-top: 1px solid black;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
}

@media only screen and (max-width: 1200px) {
  .footer_content {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .footer_content {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    padding: 3rem 0;
    gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer_content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.footer_logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.footer_logoSvg {
  width: 5rem;
}

@media only screen and (max-width: 600px) {
  .footer_logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.footer_copyRight {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: "Lab Grotesque";
  font-size: 1.25rem;
  font-weight: 100;
  position: relative;
}

.footer_copyRight p {
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .footer_copyRight p {
    right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .footer_copyRight {
    -ms-flex-item-align: right;
        -ms-grid-row-align: right;
        align-self: right;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

.footer_fAddress {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  -ms-grid-row: 1;
  grid-row: 1;
  font-family: "Lab Grotesque";
  font-size: 2rem;
  font-weight: 100;
}

.footer_fAddress span {
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  .footer_fAddress {
    margin-top: 1rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.footer_oAddress {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: "Lab Grotesque";
  font-size: 2rem;
  font-weight: 100;
}

.footer_oAddress span {
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  .footer_oAddress {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

.footer_email {
  font-size: 2rem;
  font-weight: 200;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: right;
      justify-self: right;
}

.footer_email a {
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  .footer_email {
    margin-top: 3rem;
    -ms-grid-column-align: left;
        justify-self: left;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

.footer_socials {
  -ms-grid-column-align: right;
      justify-self: right;
  font-size: 2rem;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  -ms-grid-row: 2;
  grid-row: 2;
}

@media only screen and (max-width: 600px) {
  .footer_socials {
    -ms-grid-column-align: left;
        justify-self: left;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

/****title*****/
.pageTitle {
  position: relative;
}

.pageTitle_svg {
  width: 437.3px;
  position: absolute;
  right: 0rem;
  padding: 6rem 6rem 0 0;
}

@media only screen and (max-width: 900px) {
  .pageTitle_svg {
    width: 250px;
    padding: 3rem 3rem 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .pageTitle {
    display: none;
  }
}

/****main*****/
.content {
  min-height: calc(100vh - 200px);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  padding-bottom: 6rem;
}

.content_margin {
  padding-top: 184px;
}

.videoWrapper {
  height: 100vh;
  position: relative;
}

.videoWrapper_slogans {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.videoWrapper_dynamic {
  height: 4rem;
  margin-bottom: 1rem;
}

.videoWrapper span, .videoWrapper p {
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: 'Lab Grotesque';
  font-weight: 100;
  text-transform: uppercase;
}

.videoWrapper span {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.videoWrapper video {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.aboutWrapper {
  position: relative;
  height: 100vh;
  overflow: visible;
}

@media only screen and (max-width: 900px) {
  .aboutWrapper {
    height: 80vh;
  }
}

.aboutWrapper_enPrag {
  font-size: 7.8vw;
  font-family: "Lab Grotesque";
  font-weight: 300;
  color: white;
  margin-top: 6rem;
}

@media only screen and (max-width: 900px) {
  .aboutWrapper_enPrag {
    font-size: 10vw;
  }
}

@media only screen and (min-width: 1440px) {
  .aboutWrapper_enPrag {
    font-size: 14rem;
  }
}

.aboutWrapper_faPrag {
  position: absolute;
  top: 0;
  width: 100%;
}

.aboutWrapper_faPrag p {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  font-size: 4rem;
  text-align: center;
  font-weight: 100;
  color: black;
  margin-top: 6rem;
}

@media only screen and (max-width: 900px) {
  .aboutWrapper_faPrag p {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .aboutWrapper_faPrag p {
    width: 100%;
    text-align: right;
  }
}

.white {
  background-color: black;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.white svg {
  fill: white;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.white .header_line, .white .header_line:before, .white .header_line:after {
  background-color: white;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.white a {
  color: white;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.black {
  background-color: black !important;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}

.sloganWrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.sloganWrapper span {
  position: absolute;
  top: 50%;
  left: 100vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Lab Grotesque";
  font-size: 400px;
  color: white;
  white-space: nowrap;
}

.sloganImg {
  position: absolute;
  top: 50%;
  left: 100vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.turnBlack {
  position: static;
}

/****archive*****/
.postsList > .row {
  row-gap: 12rem;
}

@media only screen and (max-width: 600px) {
  .postsList > .row {
    row-gap: 6rem;
  }
}

.post_imgWrapper {
  overflow: hidden;
  position: relative;
}

.post_img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.post_info {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.posts:nth-child(4n+1) .post_imgWrapper {
  padding-top: 75%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}

@media only screen and (max-width: 900px) {
  .posts:nth-child(4n+1) .post_imgWrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

@media only screen and (max-width: 600px) {
  .posts:nth-child(4n+1) .post_imgWrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

.posts:nth-child(4n+1) .post_info {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media only screen and (max-width: 900px) {
  .posts:nth-child(4n+1) .post_info {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

@media only screen and (max-width: 600px) {
  .posts:nth-child(4n+1) .post_info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

.posts:nth-child(4n+2) .post_imgWrapper {
  padding-top: 134%;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
}

@media only screen and (max-width: 900px) {
  .posts:nth-child(4n+2) .post_imgWrapper {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3/9;
  }
}

@media only screen and (max-width: 600px) {
  .posts:nth-child(4n+2) .post_imgWrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

.posts:nth-child(4n+2) .post_info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: right;
      justify-self: right;
}

@media only screen and (max-width: 900px) {
  .posts:nth-child(4n+2) .post_info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

@media only screen and (max-width: 600px) {
  .posts:nth-child(4n+2) .post_info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.posts:nth-child(4n+3) .post_imgWrapper {
  padding-top: 75%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
}

@media only screen and (max-width: 900px) {
  .posts:nth-child(4n+3) .post_imgWrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

@media only screen and (max-width: 600px) {
  .posts:nth-child(4n+3) .post_imgWrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

.posts:nth-child(4n+3) .post_info {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media only screen and (max-width: 900px) {
  .posts:nth-child(4n+3) .post_info {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

@media only screen and (max-width: 600px) {
  .posts:nth-child(4n+3) .post_info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

.posts:nth-child(4n+4) .post_imgWrapper {
  padding-top: 134%;
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
}

@media only screen and (max-width: 900px) {
  .posts:nth-child(4n+4) .post_imgWrapper {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3/9;
  }
}

@media only screen and (max-width: 600px) {
  .posts:nth-child(4n+4) .post_imgWrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

.posts:nth-child(4n+4) .post_info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: right;
      justify-self: right;
}

@media only screen and (max-width: 900px) {
  .posts:nth-child(4n+4) .post_info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

@media only screen and (max-width: 600px) {
  .posts:nth-child(4n+4) .post_info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}
/*# sourceMappingURL=style.css.map */