@import 'general';
@import 'grid';
@import 'color';
@import 'typography';
.header{
    width: 100%;
    display: inline-block;
    background-color:white;
    position: fixed;
    z-index: 100;
    &_wrapper{
        position: relative;
        width: 100%;
        max-width: 1440px;
        left: 50%;
        transform: translateX(-50%);
    }
    &_drawer{
        width:100%;
        overflow:hidden ;
        max-height: 0px;
        transition: $motion;
    }
    &_drawer--open{
        max-height: 100vh;
        transition: $motion;
        & a{
            opacity: 1;
            transition: $motion;
        }
    }
    &_drawerItems{
        width:100%;
        padding: 20rem 6rem 6rem 33rem;
        display: grid;
        grid-template-columns: auto 107px;
        @include tablet(){
            padding: 20rem 3rem 3rem 33rem;
        }
    @include mobile(){
        padding: 3rem;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: 12rem;
    }
    }
    
    &_menu{
        display: inline-block;
        bottom:6rem;
        left:33rem;
        & a{
            opacity: 0;
            font-size: 3rem;
            text-transform: capitalize;
            transition: 1s all ease;
            margin-left: -3rem;
            cursor: pointer;
        }
        & li:not(:last-child){
            margin-bottom:1rem;
        }
    }
    &_contact{
        display: grid;
        grid-template-rows: auto auto;
        bottom:6rem;
        right:6rem;
        
        & a{
            margin-left: -3rem;
            opacity: 0;
            transition: 1s all ease;
            font-size: 2rem;
        }
        & li{
            margin-top:1rem;
        }
        & ul , & .header_mail{
            @include mobile(){
                justify-self: right;
            }
        }
        & .header_social{
            text-align: right;
        }
        & .header_mail {
                font-weight: 200;
        }
    }
    
    &_drawer--open{
        & a{
            margin-left: 0rem;
            opacity: 1;
            transition: 1s all ease;
        }
    }
    &_socials{
        align-self: end;
    }
    &_logo{
        height: 106px;
        width: 168px;
        display: inline-block;
        position: absolute;
        left:6rem;
        top:6rem;
        transition: $motion;
        @include tablet(){
            left:3rem;
            top:3rem;
        }
        & svg{
            position: absolute;
            height: 28px;
            transition: $motion;
        }
        &--open{
            top:23.5rem;
            //bottom:6rem;
            transition: $motion;     
        }
        &_g{
            top:0;
            left:0px;
            transition: $motion;
        }
        &_e{
            top:0;
            left:43px;
            transition: $motion;
        }
        &_ssa{
            top:0;
            left:76px;
            transition: $motion;
        }
        &_g--open{
            bottom:unset;
            left:0px;
        }
        &_e--open{
           top:39px;
           left:5px;
        }
        &_ssa--open{
            top:79px;
            left:4px;
        }
    }
    &_hamIco{
        position: fixed;
        width: 4rem;
        height: 3.5rem;
        top:6rem;
        left: 33rem;
        cursor: pointer;
        grid-column: 4;
        @include tablet(){
            top:3rem;
        }
        @include mobile(){
            right:3rem;
            top:3rem;
            left: unset;
        }
    }
    &_line{
        height: 2px;
        position: absolute;
        top:13px;
        width: 4rem;
        background-color: black;
        transition: $motion;
    }
    &_line::before{
        content: "";
        position: absolute;
        height: 2px;
        width: 4rem;
        top: -12px;
        background-color: black;
        transition: $motion;
    }
    &_line::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 4rem;
        top: 12px;
        background-color: black;
        transition: $motion;
    }
    &_line--open::before{
        top: 0;
        background-color: black;
        transition: $motion;
    }
    &_line--open::after{
        top: 0;
        transition: $motion;
    }

}
.footer{
    &Wrapper{
        padding: 0 6rem;
        @include desktop(){
            padding: 0 6rem;
        }
        @include tablet(){
            padding: 0 3rem;
        }
    }
    &_content{
        padding: 6rem 0;
        border-top: 1px solid black;
        @include grid();
    @include desktop(){
        grid-template-columns: repeat(12 , 1fr);
        gap: 2rem;
    }
    @include tablet(){
        grid-template-columns: repeat(8 , 1fr);
        padding: 3rem 0;
        gap: 2rem;
    }
    @include mobile(){
        grid-template-columns: repeat(4 , 1fr);
    }
    }
    &_logo{
        grid-column: 1/4;
        grid-row: 1;
        &Svg{
            width: 5rem;

        }
        @include mobile(){
            grid-column: 1/5;
            grid-row: 1;
        }
    }
    &_copyRight{
        grid-column: 1/4;
        grid-row: 2;
        font-family: $enFont;
        font-size: 1.25rem;
        font-weight: 100;
        position: relative;
        & p{
            position: absolute;
            bottom: 0;
            @include mobile(){
                right: 0;
                
            }
        }
        @include mobile(){
            align-self: right;
            grid-column: 3/5;
            grid-row: 5;
            
        }
    }
    &_fAddress{
        grid-column: 4/9;
        grid-row: 1;
        font-family: $enFont;
            font-size: 2rem;
            font-weight: 100;
        & span{
            font-weight: 200;
        }
        @include mobile(){
            margin-top: 1rem;
            grid-column: 1/5;
            grid-row: 2;
        }
    }
    &_oAddress{
        grid-column: 4/9;
        grid-row: 2;
        font-family: $enFont;
            font-size: 2rem;
            font-weight: 100;
        & span{
            font-weight: 200;
        }
        @include mobile(){
            grid-column: 1/5;
            grid-row: 3;
        }
    }
    &_email{
        font-size: 2rem;
        font-weight: 200;
        grid-column: 9/13;
        grid-row: 1;
        justify-self: right;
        & a{
            font-weight: 200;
        }
        @include mobile(){
            margin-top: 3rem;
            justify-self: left;
            grid-column: 1/5;
            grid-row: 4;
        }
    }
    &_socials{
        justify-self: right;
        font-size: 2rem;
        grid-column: 9/13;
        grid-row: 2;
        @include mobile(){
            justify-self: left;
            grid-column: 1/3;
            grid-row: 5;
        }
    }
}
/****title*****/
.pageTitle{
    position: relative;
    &_svg{
        width: 437.3px;
        position: absolute;
        right: 0rem;
        padding: 6rem 6rem 0 0;
        @include tablet(){
            width: 250px;
            padding: 3rem 3rem 0 0;
        }
    }
    
    @include mobile(){
        display: none;
    }
}
/****main*****/
.content{
    min-height: calc(100vh - 200px);
    grid-template-rows: auto auto;
    padding-bottom: 6rem;
    &_margin{
        padding-top: 184px;
        
    }
}
.videoWrapper{
    height: 100vh;
    position: relative;
    
    &_slogans{
        display: inline-block;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50% , -50%);
        z-index: 3;
    }
    &_dynamic{
        height: 4rem;
        margin-bottom: 1rem;
    }
    & span, & p{
        text-align: center;
        font-size: 4rem;
        color: white;
        font-family: 'Lab Grotesque';
        font-weight: 100;
        text-transform: uppercase;
        @include mobile(){
            font-size: 3rem;;
        }
    }
    & span{
        position:absolute;
        left: 50%;
        transform: translate(-50%);
    }
    & video{
        height: 100vh;
        object-fit: cover;
        filter: brightness(.8);
    }
}
.aboutWrapper{
    position: relative;
    height: 100vh;
    overflow: visible;
    
    @include tablet(){
        height: 80vh;
    }
    &_enPrag{
        font-size: 7.8vw;
        font-family: $enFont;
        font-weight: 300;
        color: white;
        margin-top: 6rem;
        @include tablet(){
            font-size: 10vw;
        }
        @include desktopx(){
            font-size: 14rem;
        }
    }
    &_faPrag{
        position: absolute;
        top:0;
        width: 100%;
    }
    &_faPrag p{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        font-size: 4rem;
        @extend %faType;
        text-align: center;
        font-weight: 100;
        color: black;
        margin-top: 6rem;
        @include tablet(){
            font-size: 2.5rem;
        }
        @include mobile(){
            width: 100%;
            text-align: right;
        }
    }
}
.white {
    background-color: black;
    transition: $motion;
    & svg{
        fill:white;
        transition: $motion;
        }
    & .header_line, & .header_line:before, & .header_line:after{
        background-color: white;
        transition: $motion;
    }
    & a{
        color: white;
        transition: $motion;
    }
}
.black{
    background-color: black !important;
    transition: $LongMotion;
}
.sloganWrapper{
    height: 100vh;
    position: relative;
    overflow: hidden;
    & span{
        position: absolute;
        top: 50%;
        left:100vw;
        transform: translateY(-50%);
        font-family: $enFont;
        font-size: 400px;
        color: white;
        white-space: nowrap;
    }
}
.sloganImg{
    position: absolute;
    top:50%;
    left:100vw;
    transform: translateY(-50%);
}
.turnBlack{
position: static;
}
/****archive*****/
.postsList>.row{
    row-gap:12rem;
    @include mobile(){
        row-gap:6rem;
    }
}
.post_imgWrapper{
    overflow: hidden;
    position: relative;
}
.post_img{
    position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
}
.post_info{
    align-self:end ;
} 
.posts:nth-child(4n+1){
    & .post_imgWrapper{
        padding-top:75% ;
        grid-column: 1/7;
        @include tablet(){
            grid-column: 1/6;
        }
        @include mobile(){
            grid-column: 1/5;
        }
    }
    & .post_info{
        grid-column: 7/13;
        grid-row: 1;
        @include tablet(){
            grid-column: 6/9;
            justify-self: right;
        }
        @include mobile(){
            grid-column: 1/5;
            grid-row: 2;
            justify-self: left;
        }
    }  
    }
.posts:nth-child(4n+2){
    & .post_imgWrapper{
        padding-top:134% ;
        grid-column: 8/13;
        @include tablet(){
            grid-column: 3/9;
        }
        @include mobile(){
            grid-column: 1/5;
        }
    }
    & .post_info{
        grid-column: 1/8;
        grid-row: 1;
        justify-self: right;
        @include tablet(){
            grid-column: 1/3;
            justify-self: left;
        }
        @include mobile(){
            grid-column: 1/5;
            grid-row: 2;
        }
    }
}
.posts:nth-child(4n+3){
    & .post_imgWrapper{
        padding-top:75% ;
        grid-column: 2/10;
        @include tablet(){
            grid-column: 1/6;
        }
        @include mobile(){
            grid-column: 1/5;
        }
    }
    & .post_info{
        grid-column: 10/13;
        grid-row: 1;
        @include tablet(){
            grid-column: 6/9;
            justify-self: right;
        }
        @include mobile(){
            grid-column: 1/5;
            grid-row: 2;
            justify-self: left;
        }
    } 
}
.posts:nth-child(4n+4){
    & .post_imgWrapper{
        padding-top:134% ;
        grid-column: 8/12;
        @include tablet(){
            grid-column: 3/9;
        }
        @include mobile(){
            grid-column: 1/5;
        }
    }
    & .post_info{
        grid-column: 1/8;
        grid-row: 1;
        justify-self: right;
        @include tablet(){
            grid-column: 1/3;
            justify-self: left;
        }
        @include mobile(){
            grid-column: 1/5;
            grid-row: 2;
            justify-self: left;
        }
    }
}
